<h1 class="text-center" style="text-decoration: underline;"><%= current_user.fullname %>'s Portfolio</h1>

<div class="search-area">
    <h3 class="text-center">Search stocks</h3>
    <%= form_tag search_stock_path,remote: true, method: :get do %>
        <div class="form-group row no-right-padding">
            <div class="col-sm-1"></div>
            <div class="col-sm-9">
                <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class: "form-control form-control-lg" %>
            </div>

            <div class="col-sm-2 no-left-padding">
                <%= button_tag "Search", type: :submit, class:"btn btn-success" do%>
                    <%= fa_icon "search 2x" %>
                <%end%>
            </div>
        </div>
    <% end %>
</div>

<div id="results"></div>

<div class="row">
    <div class="col-sm-9" style="margin-left:122px ;">
        <% if !@tracked_stocks.empty? %>
            <%= render "stocks/list", obj: @tracked_stocks %>
        <%end%>    

    </div>
</div>