<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">FTracker</a>
        <% if current_user %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link <%= "active" if request.path == my_portfolio_path%>" href="/my_portfolio">My Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <%= link_to "My friends", my_friends_path, class: "nav-link #{current_page?(my_friends_path) ? "active" : ""}" %>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            <%=current_user.fullname%>
                        </a>
                        <div class="dropdown-menu">
                            <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>

                </ul>
                <ul class="ml-auto navbar-nav">
                    <li>
                        <%= button_to "Logout" , destroy_user_session_path, method: :delete, class:"btn btn-danger", data:
                            {confirm: "Are you sure?" } %>
                    </li>
                </ul>
                <!-- <form class="form-inline my-2 mx-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            </div>
        <%end%>
    </div>   
</nav>